:root {
     /* Base color */
     --red: hsl(0, 100%, 40%);
     --green: hsl(120, 100%, 40%);
     --blue: hsl(240, 100%, 40%);
     --yellow: hsl(60, 100%, 40%);
     --black: hsl(0, 0%, 0%);
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     user-select: none;
     /* border: 1px solid #000; */
}
body{
     background-color: hsl(0, 0%, 10%);
     color: #ddd;
} 
h1 {
     /* font-size: 50px; */
     font-weight: 900;
     margin: 10px 0;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     text-shadow: 0px 2px #747474;
}
h2 {
     font-size: 100px;
     font-weight: 900;
     margin: 10px 0;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     text-shadow: 0px 8px #747474;
     /* background-color: #fff; */
}
hr {
     width: 100%;
     /* height: 1px; */
     background-color: #fff;
     border: 3px solid #000;
}
#board {
     min-height: 100vh;
     width: 100vw;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
#start-button {
     height: fit-content;
     width: fit-content;
     font-size: 30px;
     font-weight: bold;
     border-radius: 10px;
     background-color: var(--black);
     color: #ffffff;
     padding: 10px 20px;
     font-family: Arial, Helvetica, sans-serif;
     border: 5px solid #000;
     margin-bottom: 20px;
}
.player {
     height: fit-content;
     width: 100%;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
     /* padding: 10px; */
     flex-wrap: wrap;
     /* border: 1px solid #000; */
}

.cards-container {
     height: fit-content;
     width: fit-content;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 10px;
     padding: 10px;
}
.card-holder {
     position: relative;
     height: 120px;
     width: 90px;
     /* background-color: #202020; */
     border: 2px dashed #fff;
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 0;
}
.card {
     z-index: 1;
     height: 120px;
     width: 90px;
     border: 3px solid lightgray;
     /* border-bottom: 2px solid #707070; */
     /* outline: white solid 9px; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     font-weight: bold;
     border-radius: 10px;
     font-family: Arial, Helvetica, sans-serif;
     /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
     position: absolute;
     touch-action: none;
     cursor: grab;
     color: #ffffff;
     text-shadow: 2px 2px #000, 3px 5px 10px #000000;

}

.red {
     background-color: var(--red);
}

.green {
     background-color: var(--green);
}

.blue {
     background-color: var(--blue);
}

.yellow {
     background-color: var(--yellow);
}

.wild, .draw4 {
     background-color: var(--black);
     color: #ffffff;
     text-shadow: 2px 2px #000, 0 0 30px #ffffff;
}
.card:not(.draw4, .draw2) {
     font-size: 70px;
}
.card-span {
     height: fit-content;
     aspect-ratio: 1;
     /* border: 1px solid #000; */
     display: flex;
     justify-content: center;
     align-items: center;
}
span.reverse {
     transform: rotate(-45deg);
}
.draw-pile-container {
     height: fit-content;
     width: 100%;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 10px;
}
.draw-pile {
     height: 120px;
     width: 100%;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 10px;
     flex-wrap: wrap;
     position: relative;
}
.draw-pile .card {
     position: absolute;
}